body {
    height: 80px;
    background-color: rgb(37, 37, 223);
}

form {
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgb(238, 243, 248);
    width: 300px;
    height: 350px;
    padding:15px;;
    border-radius: 15px;
    border: 3px black;
}
h3{
    margin-top: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    display: block;
    width: 90%;
    height: 28px;
    margin-top: 12px;
    margin-left: 20px;
    border: 15px;
    border-radius: 7px;
}
button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 24px;
    width: 90%;
    background-color: rgb(73, 73, 255);
    border: 15px;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}